<div class="cart">
    <div class="cart_products">
        <div class="cart_products__head">
            <span class="cart_products_title">Products In Cart</span>
            <label for="">Items:<input type="number" name="" id="" class="cart_items_on_page"></label>
            <div class="cart_page_switcher"> Page:
                <button class="btn_mini prev_page"><</button>
                <span class="cart_page_number">1</span>
                <button class="btn_mini next_page">></button>
            </div>
        </div>
        <div class="cart_products__body"></div>
    </div>
    <div class="cart_summary">
        <div class="cart_summary__head">Summary</div>
        <div class="cart_summary__body"></div>
    </div>
</div>
<div class="modal_buy">
    <form action="" class="buy_block">
    </form>
</div>