$accent_color: black;
@import '/src/style.scss';
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    .btn_mini {
        background-color: $btn_color;
        border: none;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        padding: 5px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            background-color: lighten($btn_color, $amount: 10%) ;
            transition: 0.3s;
        }
    }
}
.cart_products {
    width: 80%;
    .cart_products__head {
        display: flex;
        border: 1px solid $accent_color;
        align-items: center;
        justify-content: space-between;
        .cart_items_on_page {
            width: 50px;
        }
    }
}

.cart_summary {
    width: 20%;
    border: $accent_color 1px solid;
    height: fit-content;
    text-align: center;
    background: $block_color;
    padding: 20px;
    border-radius: 20px;
}
.cart_item {
    display: flex;
    justify-content: space-around;
    border: 1px solid $accent_color;
    padding: 10px;
    .cart_item_number {
        height: 30px;
        width: 30px;
        border: 3px solid $accent_color;
        border-radius: 50%;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: 0 20px;
    }
    .cart_item_info {
        display: flex;
        flex-grow: 1;
    }
    .cart_item_amount {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        flex-basis: 100px;
        .cart_item_amount_controller {
            display: flex;
            justify-content: space-between;
            width: 100px;
        }
        .cart_item_stock, .cart_item_price {
            white-space: nowrap;
            text-align: center;
        }
    }
}
.cart_item_img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.cart_item_specs {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    .cart_item_title::after {
        content: '';
        width: 90%;
        height: 2px;
        background-color: $accent_color;
        position: absolute;
        bottom: 0;
        left: 5%;
    }
    .cart_item_title,
    .cart_item_description {
        position: relative;
        width: 100%;
        text-align: center;
    }
    .cart_item_title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cart_item_description {
        width: 90%;

    }
    .cart_item_rating,
    .cart_item_discount {
        width: 50%;
        text-align: center;
    }
}
.modal_buy {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.379);
    top: 0;
    span {
        font-size: 24px;
    }
    .buy_block {
        background-color: $block_color;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        gap: 10px;
        .cart_buy_personal_input {
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;
            font-size: 20px;
            width: 100%;
            border: none;
            transition: 0.3s;
            &:focus {
                outline: none;
                transform: translateX(10px);
                transition: 0.3s;
            }
        }
        .cart_buy_personal_input:invalid {
            box-shadow: inset 0px 0px 10px red;
            transition: 0.2s;
        }
        .cart_credit_card {
            border-radius: 10px;
            width: 300px;
            height: 150px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: rgb(84, 141, 221);
            gap: 10px;
            .cart_buy_card_input {

                &:focus {
                    outline: none;
                    transform: translateY(-5px);
                    transition: 0.3s;
                }
            }
            .card_number {
                width: 250px;
                padding: 5px;
                font-size: 20px;
                margin: 0 auto;
                text-align: center;
            }
            .card_half_width {
                width: 30%;
                height: 25px;
                padding: 10px 15px;
                text-align: center;
            }
            .logo_card {
                height: 40px;
                width: 100px;
                object-fit: contain;
            }
            .valid_date {
                width: 105px;
            }
            .cvv {
                width: 70px;
            }
        }
    }
}
.cart_buy_btn {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: $btn_color;
    cursor: pointer;
}
.modal_buy__active {
    display: flex;
}
.hide {
    display: none;
}