<div class="cart">
    <div class="cart_products">
        <div class="cart_products__head">
            <span class="cart_products_title">Products In Cart</span>
            <label for="">Items:<input type="number" name="" id="" class="cart_items_on_page"></label>
            <div class="cart_page_switcher"> Page:
                <button class="btn_mini"><</button>
                <span class="cart_page_number"></span>
                <button class="btn_mini">></button>
            </div>
        </div>
        <div class="cart_products__body"></div>
    </div>
    <div class="cart_summary">
        <div class="cart_summary__head">Summary</div>
        <div class="cart_summary__body"></div>
    </div>
</div>
<div class="modal_buy">
    <!-- <form action="">
        <input class="cart_buy_personal_input" type="text" placeholder="Phone number" pattern="[\+][0-9]{2,}">
        <input type="submit" value="222">
    </form> -->
    <form action="" class="buy_block">
        <!-- <span>Personal details</span>
        <input class="cart_buy_personal_input" type="text" placeholder="Name">
        <input class="cart_buy_personal_input" type="text" placeholder="Address">
        <input class="cart_buy_personal_input" type="email" placeholder="E-mail">
        <input type="submit" value="Buy"> -->
    </form>
</div>