<div class="product-details">
    <div class="product_item">
        <div class="product-details__route"></div>
        <div class="product-details__block">
            <div class="product-details__title">title</div>
            <div class="product-details__main">
                <div class="product-details__galery">
                    <div class="product_images"></div>
                    <img class="image__active" alt="product">
                </div>
                <div class="product-details__specs"></div>
                <div class="product-details__buy"></div>
            </div>
        </div>
    </div>
</div>