.sort-products {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.sort-bar {
    height: 100%;
    border-radius: 5px;
    &:focus {
        outline: none;
    }
}
#search {
    border: 1px solid gray;
}

.hide {
    display: none;
    
}

.view-mode {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.small-v, .big-v {
    display: block;
    height: 100%;
    padding: 5px 10px;
    background: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 5px black;
        transition: 0.2s;
    }
}

/* .big-v {
    display: block;
    width: 50px;
    height: 24px;
    background: white;
    text-align: center;
}

.big-v:hover{
    box-shadow: 0px 0px 5px black;
    transition: 0.2s;
} */

.active-mode {
    background: green;
    border: 1px solid green;
}

.itemSmall {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 144px;
    width: 144px;
}
.small_mode_btn {
    position: relative;
    flex-direction: column;
    width: 120px;
    height: 75px;
    .btn_product_item {
        text-align: center;
    }
}