
    <div class="reset-total">
        <button class="reset-btn filter_btn">Reset Filters</button>
        <button class="filter_btn">Copy Link</button>
    </div>
    <h3 >Category</h3>
        <div  class="filter-list-category">
        </div>
    <h3 >Brand</h3>
        <div  class="filter-list-brand">
        </div>
    <h3>Price</h3>
        <div class="price-slider_price">
            <div class="from-data_price"></div>
            <div class="to-data_price"></div>
        </div>
        <div class="sliders_control_price">
            <input id="fromSliderPrice" type="range" value="10" min="0" max="100"/>
            <input id="toSliderPrice" type="range" value="40" min="0" max="100"/>
        </div>
    <h3>Stock</h3>
    <div class="price-slider_stock">
        <div class="from-data_stock"></div>
        <div class="to-data_stock"></div>
    </div>
        <div class="sliders_control_stock">
            <input id="fromSliderStock" type="range" value="10" min="0" max="100"/>
            <input id="toSliderStock" type="range" value="40" min="0" max="100"/>
        </div>
