
    <div class="reset-total">
        <button>Reset Filters</button>
        <button>Copy Link</button>
    </div>
    <h3 >Category</h3>
        <div  class="filter-list-category">
        </div>
    <h3 >Brand</h3>
        <div  class="filter-list-brand">
        </div>
    <h3>Price</h3>
        <div class="price-slider">
            <div class="from-data"></div>
            <div class="to-data"></div>
        </div>
        <div class="sliders_control">
            <input id="fromSlider" type="range" value="10" min="0" max="100"/>
            <input id="toSlider" type="range" value="40" min="0" max="100"/>
        </div>
    <h3>Stock</h3>
    <div class="price-slider">
        <div class="from-data"></div>
        <div class="to-data"></div>
    </div>
        <div class="sliders_control">
            <input id="fromSlider" type="range" value="10" min="0" max="100"/>
            <input id="toSlider" type="range" value="40" min="0" max="100"/>
        </div>
